
.table-responsive {
  max-width: 600px;
  max-height: 340px; 
  overflow-x: auto; 
  margin-right: 20px;
}

.adjacency-matrix {
  width: auto; 
  min-width: 100%;
  table-layout: auto ; 
}

.adjacency-matrix th,
.adjacency-matrix td {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  padding: 9px; 
  min-width: 80px; 
}

.edit-graph-box {
  margin-bottom: 20px;
  margin-right: 10px;
}

.icon {
  font-size: 24px; 
}

.key{
  text-align: left;
}

.algorithm {
  padding: 5px; 
}

.edge:hover {
  stroke: #00aeff; 
  stroke-opacity: 1; 
}

.node-group:hover .node {
  fill: #00aeff;
  stroke: #000000; 
}
.node-group:hover .nodeNo {
  fill: #000000; 
}

.controller {
  margin-left: 320px;
}


.title-bar .controller {
  display: flex;
  align-items: center;
}

.title-bar .col-auto {
  display: flex;
  align-items: center;
}

.title-bar .btn {
  margin: 0 5px; 
}