
.table-responsive {
  max-width: 600px; /* Set the maximum width of the container */
  max-height: 340px; /* Set the maximum height of the container */
  overflow-x: auto; /* Enable horizontal scrolling */
  margin-right: 20px;
}

.adjacency-matrix {
  width: auto; /* Set the width based on content */
  min-width: 100%; /* Ensure a minimum width for the table */
  table-layout: auto ; /* Ensure fixed layout for consistent column width */
}

.adjacency-matrix th,
.adjacency-matrix td {
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Display ellipsis for overflowed content */
  padding: 9px; /* Add padding for better readability */
  min-width: 80px; /* Set minimum width for columns */
 
}

.edit-graph-box {
  margin-bottom: 20px;
  margin-right: 10px;
}


.icon {
  font-size: 24px; /* Adjust the icon size as needed */
}

.key{
  text-align: left;
}

.algorithm {
  padding: 5px; /* Adjust padding as needed */
}





/* Define the default color */


/* Define the hover color */
.edge:hover {
  stroke: #00aeff; /* Blue */
  stroke-opacity: 1; /* Adjust the opacity as needed */
}

.node-group:hover .node {
  fill: #00aeff; /* Blue */
  stroke: #000000; /* Black */
}
.node-group:hover .nodeNo {
  fill: #000000; /* Blue */
}